{
  "extends": "airbnb-base",
  "rules": {
    "quote-props":"off",
    "no-underscore-dangle":"off",
    "consistent-return": "off",
    "no-unused-expressions":"off",
    "prefer-promise-reject-errors":"off"
  }
}